<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		<img class="retina hero" src="./images/hero.jpg" alt="" inline>
		<img class="retina t1a" src="./images/t1a.png" alt="" inline>
		<img class="retina t1b" src="./images/t1b.png" alt="" inline>
		<img class="retina t1c" src="./images/t1c.png" alt="" inline>
		<img class="retina t1d" src="./images/t1d.png" alt="" inline>
		<img class="retina t1e" src="./images/t1e.png" alt="" inline>
	</div>

	<div class="frame frame2">

		<!-- <img class="retina f2" src="./images/frame2.jpg" alt="" inline> -->
		<img class="retina cobalt" src="./images/cobalt.jpg" alt="" inline>

		<div class="masker t2a">
			<img class="retina " src="./images/t2a.png" alt="" inline>	
		</div>

		<div class="masker t2b">
			<img class="retina" src="./images/t2b.png" alt="" inline>
		</div>

		<div class="masker t2c">
			<img class="retina" src="./images/t2c.png" alt="" inline>
		</div>
		
		
		
	</div>

	<img class="retina white" src="./images/white.png" alt="" inline>
	<img class="retina cta watch" src="./images/watch.png" alt="" inline>
	<!-- <img class="retina cta green" src="./images/green.png" alt="" inline> -->
	<div class="line"></div>
	<img class="retina logo" src="./images/logo.png" alt="" inline>
	
</div>