<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		<img id="bg" src="./images/bg.jpg" alt="" inline>
		<div class="hero" id="hero">
			<img id="hero_0" src="./images/hero_0.jpg" alt="" inline>
			<img id="hero_10" src="./images/hero_10.jpg" alt="" inline>
			<img id="hero_20" src="./images/hero_20.jpg" alt="" inline>
			<img id="hero_30" src="./images/hero_30.jpg" alt="" inline>
			<img id="hero_40" src="./images/hero_40.jpg" alt="" inline>
			<img id="hero_50" src="./images/hero_50.jpg" alt="" inline>
			<img id="hero_60" src="./images/hero_60.jpg" alt="" inline>
			<img id="hero_70" src="./images/hero_70.jpg" alt="" inline>
			<img id="hero_80" src="./images/hero_80.jpg" alt="" inline>
			<img id="hero_90" src="./images/hero_90.jpg" alt="" inline>
			<img id="hero_100" src="./images/hero_100.jpg" alt="" inline>
			<img id="hero_110" src="./images/hero_110.jpg" alt="" inline>
			<img id="hero_120" src="./images/hero_120.jpg" alt="" inline>
			<img id="hero_140" src="./images/hero_140.jpg" alt="" inline>
			<img id="hero_160" src="./images/hero_160.jpg" alt="" inline>
			<img id="hero_180" src="./images/hero_180.jpg" alt="" inline>
			<img id="hero_200" src="./images/hero_200.jpg" alt="" inline>
			<img id="hero_220" src="./images/hero_220.jpg" alt="" inline>
			<img id="hero_240" src="./images/hero_240.jpg" alt="" inline>
		</div>
		
		<!-- <img class="hero_2" src="./images/hero_2.jpg" alt="" inline>
		<img class="hero_3" src="./images/hero_3.jpg" alt="" inline>
		<img class="hero_4" src="./images/hero_4.jpg" alt="" inline>
		<img class="hero_5" src="./images/hero_5.jpg" alt="" inline>
		<img class="hero_6" src="./images/hero_6.jpg" alt="" inline>
		<img class="hero_7" src="./images/hero_7.jpg" alt="" inline> -->

		<img class="retina t1a" src="./images/t1a.png" alt="" inline>
		<img class="retina t1b" src="./images/t1b.png" alt="" inline>
		<img class="retina t1c" src="./images/t1c.png" alt="" inline>
		<img class="retina t1d" src="./images/t1d.png" alt="" inline>
		<img class="retina t1e" src="./images/t1e.png" alt="" inline>
	</div>

	<div class="frame frame2">
		
		<!-- <img class="retina f2" src="./images/frame2.jpg" alt="" inline> -->
		
		<img class="retina cobalt" src="./images/cobalt.jpg" alt="" inline>
		
		<img class="retina t2a" src="./images/t2a.png" alt="" inline>			
		<img class="retina t2b" src="./images/t2b.png" alt="" inline>
		<!-- <img class="retina t2c" src="./images/t2c.png" alt="" inline> -->




		<% include ../_common/templates/_power %>


		

	</div>

	<img class="retina white" src="./images/white.png" alt="" inline>
	<img class="retina cta watch" src="./images/watch.png" alt="" inline>
	
	<div class="line"></div>
	<img class="retina logo" src="./images/logo.png" alt="" inline>
	
</div>