

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
	.hero{
		@include pos-scale(0, -79, .5);
		// @include pos-scale(0, -159, 0.7);
		// @include pos-scale(-90, -79, .5);
	}
}



#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}

